<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>BA106G4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

<!--   <filter> -->
<!--     <filter-name>backLoginFilter</filter-name> -->
<!--     <filter-class>filters.BackLoginFilter</filter-class> -->
<!--   </filter> -->
<!--   <filter-mapping> -->
<!--     <filter-name>backLoginFilter</filter-name> -->
<!--     <url-pattern>/backend/index.jsp</url-pattern> -->
<!--     <url-pattern>/backend/employee/*</url-pattern> -->
<!--     <url-pattern>/backend/chat/*</url-pattern> -->
<!--     <url-pattern>/backend/local_order/*</url-pattern> -->
<!--     <url-pattern>/backend/menu/*</url-pattern> -->
<!--     <dispatcher>REQUEST</dispatcher> -->
<!--     <dispatcher>FORWARD</dispatcher> -->
<!--     <dispatcher>INCLUDE</dispatcher> -->
<!--     <dispatcher>ERROR</dispatcher> -->
<!--     <dispatcher>ASYNC</dispatcher> -->
<!--   </filter-mapping> -->
  
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/GROUP4DB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>StatusCodeUtil</servlet-name>
    <servlet-class>iii.util.StatusCodeUtil</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusCodeUtil</servlet-name>
    <url-pattern>/StatusCodeUtil.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpServlet</servlet-name>
    <servlet-class>iii.emp.controller.EmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/employee/EmpServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthorityServlet</servlet-name>
    <servlet-class>iii.authority.controller.AuthorityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorityServlet</servlet-name>
    <url-pattern>/employee/AuthorityServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>iii.menu.controller.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/menu/MenuServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemServlet</servlet-name>
    <servlet-class>iii.mem.controller.MemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemServlet</servlet-name>
    <url-pattern>/mem/mem.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>iii.mem.controller.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/mem/checkMail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CarServlet</servlet-name>
    <servlet-class>iii.car.controller.CarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarServlet</servlet-name>
    <url-pattern>/car/car.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>iii.order_main.controller.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/order_main/order.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>foreign_scheduleServlet</servlet-name>
    <servlet-class>iii.foreign_schedule.controller.foreign_scheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>foreign_scheduleServlet</servlet-name>
    <url-pattern>/backend/foreign_schedule/fs.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Local_ScheduleServlet</servlet-name>
    <servlet-class>iii.local_schedule.controller.Local_ScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Local_ScheduleServlet</servlet-name>
    <url-pattern>/local_schdule/LS_Servlet.do</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Local_OrderServlet</servlet-name>
    <servlet-class>iii.local_order.controller.Local_OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Local_OrderServlet</servlet-name>
    <url-pattern>/local_order/LO_Servlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowProPic</servlet-name>
    <servlet-class>iii.pro.controller.ShowProPic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProPic</servlet-name>
    <url-pattern>/proPic/proPic.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ProServlet</servlet-name>
    <servlet-class>iii.pro.controller.ProServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProServlet</servlet-name>
    <url-pattern>/pro/pro.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ShowNewsPic</servlet-name>
    <servlet-class>iii.news.controller.ShowNewsPic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowNewsPic</servlet-name>
    <url-pattern>/newsPic/newsPic.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>iii.news.controller.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/news/news.do</url-pattern>
  </servlet-mapping>
</web-app>